.app {
    background-color: #34303a;
    justify-content: right;
    display: flex;
    flex-flow: column;
    color: white;
}

.icon-button {
    color: white;
    background-color: rgb(13 110 253 / 25%);
    border: none;
    width: 32px;
    padding: 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 8px;
}

.icon-button:hover {
    background-color: rgb(13 110 253 / 50%);
}

.detail-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 360px;
    background-color: rgb(52 48 58);
    z-index: 10;
    box-shadow: 0 8px 10px -5px #0003, 0 16px 24px 2px #00000024,
        0 6px 30px 5px #0000001f;
    border-left: 1px solid rgba(255, 255, 255, 0.12);
}

.detail-sidebar-content {
    padding: 16px;
}

.detail-sidebar-content h2 {
    margin-bottom: 16px;
}

.detail-sidebar-topbar {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
}

.dropdown-toggle::after {
    display: none !important;
}

.project-card {
    transition: background-color 0.25s ease-in;
    color: black;
}

.project-card.view {
    height: 200px;
}

.project-card.view:hover {
    background-color: rgba(219, 219, 219, 1);
    cursor: pointer;
}

.fallback-card-image {
    height: 100px;
    background: rgb(164, 195, 215);
    background: linear-gradient(
        0deg,
        rgba(164, 195, 215, 1) 0%,
        rgba(173, 216, 230, 1) 30%,
        rgba(118, 254, 243, 1) 100%
    );
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar {
    display: flex;
}

.topbar > * {
    margin: 2px 4px;
}