.App {
    background-color: #34303a;
    justify-content: right;
}

.toolbar {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    position: absolute;
    z-index: 4;
}

#button-toolbar {
    display: flex;
    flex-flow: column;
    color: white;
}

.detail-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 360px;
    background-color: rgb(219, 219, 219);
}

.icon-button {
    background-color: rgb(13 110 253 / 25%);
    border: none;
    width: 32px;
    padding: 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button:hover {
    background-color: rgb(13 110 253 / 50%);
}

.dropdown-toggle::after {
    display: none !important;
}

.project-card {
    transition: background-color 0.25s ease-in;
    color: black;
}

.project-card.view {
    height: 200px;
}

.project-card.view:hover {
    background-color: rgba(219, 219, 219, 1);
    cursor: pointer;
}

.fallback-card-image {
    height: 100px;
    background: rgb(164, 195, 215);
    background: linear-gradient(
        0deg,
        rgba(164, 195, 215, 1) 0%,
        rgba(173, 216, 230, 1) 30%,
        rgba(118, 254, 243, 1) 100%
    );
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar {
    display: flex;
}

.topbar > * {
    margin: 2px 4px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.toolbar {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    position: absolute;
    z-index: 4;
}

.button-toolbar {
    display: flex;
    padding: 0.55em 1.7em;
    border: 0.2em solid #21007a;
    margin: 0.1em 0.3em 0.1em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #6600cc;
    text-align: center;
    transition: all 0.2s;
    align-self: center;
}

.button-toolbar:hover,
.button-toolbar.active {
    background-color: #41005f;
    border-color: #dcd9fd;
    color: #ffffff;
}

.button-layout {
    display: flex;
    padding: 0.2em 0.4em;
    border: 0.2em solid #21007a;
    margin: 0.1em 0.3em 0.1em;
    border-radius: 0.12em;
    box-sizing: border-box;
    width: 80%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #3c0077;
    text-align: center;
    justify-content: center;
    transition: all 0.2s;
    align-self: auto;
}

.button-layout:hover {
    background-color: #2d0061;
    color: #ffffff;
}

.button-layout#dagreTB {
    margin-top: 30px;
}

.tag-sidebar {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    position: absolute;
    z-index: 4;

    width: 200px;
    left: 0;
    top: 128px;
}
.tag-taglist > p {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    z-index: 4;
}

.tag-disptag {
    display: flex;
    padding: 0.2em 0.4em;
    border: 0.2em solid #21007a;
    margin: 0.1em 0.3em 0.1em;
    border-radius: 0.12em;
    box-sizing: border-box;
    width: 80%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #3c0077;
    text-align: center;
    justify-content: center;
    transition: all 0.2s;
    align-self: auto;
}

.tag-disptag:hover {
    background-color: #2d0061;
    color: #ffffff;
}
