.app {
    justify-content: right;
    display: flex;
    flex-flow: column;
    color: white;
}

.icon-button {
    color: #eeefff;
    background-color: #eeefff31;
    border: none;
    width: 32px;
    padding: 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 8px;
}

.icon-button:hover {
    color: #000614;
    background-color: #eeefffc0;
}

.dropdown > .btn-primary:focus {
    color: #000614;
    background-color: #eeefffc0;
    border-color: #eeefff;
    box-shadow: none;
}

.show > .btn-primary.dropdown-toggle {
    color: #000614;
    background-color: #eeefff !important;
}

.detail-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 360px;
    background-color: rgb(52 48 58);
    z-index: 10;
    box-shadow: 0 8px 10px -5px #0003, 0 16px 24px 2px #00000024,
        0 6px 30px 5px #0000001f;
    border-left: 1px solid rgba(255, 255, 255, 0.12);
}

.detail-sidebar-content {
    padding: 16px;
}

.detail-sidebar-content h2 {
    margin-bottom: 16px;
}

.detail-sidebar-topbar {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
}

.dropdown-toggle::after {
    display: none !important;
}

.project-card {
    transition: background-color 0.25s ease-in;
    color: black;
}

.project-card.view {
    height: 200px;
}

.project-card.view:hover {
    background-color: rgba(219, 219, 219, 1);
    cursor: pointer;
}

.card-body {
    background: #eeefff31;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #eeefff;
}

.fallback-card-image {
    height: 100%;
    background: rgb(164, 195, 215);
    background: linear-gradient(to bottom right, #00164f, #4e009c, #290066);
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
