*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

h2 {
    margin: 1rem;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

html,
body,
#root,
#root > div,
.graph {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    --top-handle-size: 6px;
    --bottom-handle-size: 6px;
    --source-handle-visibility: block;
    --target-handle-border-radius: 100%;
    --source-handle-border-radius: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.toolbar {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    position: absolute;
    z-index: 4;
    right: 0;
    top: 128px;
}

#button-toolbar {
    display: flex;
    padding: 0.55em 1.7em;
    border: 0.2em solid #21007a;
    margin: 0.1em 0.3em 0.1em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #6600cc;
    text-align: center;
    transition: all 0.2s;
    align-self: center;
}

.react-flow__handle {
    opacity: 0.5;
}

#button-toolbar:hover {
    background-color: #442072;
    border-color: #dcd9fd;
    color: #ffffff;
}

.react-flow__handle-bottom {
    width: var(--bottom-handle-size) !important;
    height: var(--bottom-handle-size) !important;
    display: var(--source-handle-visibility) !important;
    border-radius: var(--source-handle-border-radius) !important;
}

.react-flow__handle-top {
    width: var(--top-handle-size) !important;
    height: var(--top-handle-size) !important;
    border-radius: var(--target-handle-border-radius) !important;
}

